test/SaveToDB.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "91a604aa-098b-3beb-a079-d000a216c048" : {
          "identifier" : "91a604aa-098b-3beb-a079-d000a216c048",
          "name" : "DBCPConnectionPool PostgreSQL"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
            "id" : "c0564d7e-a8a4-3bf6-bbf9-d75615750662",
            "instanceIdentifier" : "f56dec9f-d202-3b9f-1503-88e099b96ca6",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "3799892a-3306-391d-995a-e933011ca415",
          "instanceIdentifier" : "02c392ad-302f-3665-7879-894879e6f9e4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
            "id" : "e9e9349e-8b19-3dce-bec6-f73f6ffe99d2",
            "instanceIdentifier" : "e764c2b3-50b5-3a93-18cb-0471cf5aab19",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 2253.0,
            "y" : 808.0
          }, {
            "x" : 2253.0,
            "y" : 858.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
            "id" : "e9e9349e-8b19-3dce-bec6-f73f6ffe99d2",
            "instanceIdentifier" : "e764c2b3-50b5-3a93-18cb-0471cf5aab19",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "b18c096b-d85e-30bb-826e-ebd0ab18cfba",
          "instanceIdentifier" : "e61d5c76-2ecd-3c28-40b9-20c51c9e7a9e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
            "id" : "e9e9349e-8b19-3dce-bec6-f73f6ffe99d2",
            "instanceIdentifier" : "e764c2b3-50b5-3a93-18cb-0471cf5aab19",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
            "id" : "35df63a7-2b07-3783-b00f-a4ffbf04f017",
            "instanceIdentifier" : "b55321a5-936e-3dc7-1269-f9cb89c38042",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "72043098-ca89-3807-a508-365ff4b5c4b9",
          "instanceIdentifier" : "33abbab0-446d-33cd-7dac-94077e8ab09a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
            "id" : "9edd86f2-6476-3962-ab04-7df206e2f26f",
            "instanceIdentifier" : "dd14b4fe-1585-3c78-8ea2-1a9542e74012",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
            "id" : "2ef5961b-ed9a-3445-9383-82b52b6225e3",
            "instanceIdentifier" : "30b2dcc5-c303-3aba-e847-6e149f2a255b",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "a5d91c91-428e-3803-a403-5e766cc9d622",
          "instanceIdentifier" : "6cce678e-1c7a-37cd-ef0e-7179602b4a43",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
            "id" : "35df63a7-2b07-3783-b00f-a4ffbf04f017",
            "instanceIdentifier" : "b55321a5-936e-3dc7-1269-f9cb89c38042",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
            "id" : "e9e9349e-8b19-3dce-bec6-f73f6ffe99d2",
            "instanceIdentifier" : "e764c2b3-50b5-3a93-18cb-0471cf5aab19",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "9f71caac-6b78-330e-9534-a6e4faa79faf",
          "instanceIdentifier" : "d6f2743d-5e9a-38de-b73b-4cf5b2780e8a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
            "id" : "35df63a7-2b07-3783-b00f-a4ffbf04f017",
            "instanceIdentifier" : "b55321a5-936e-3dc7-1269-f9cb89c38042",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
        "inputPorts" : [ ],
        "instanceIdentifier" : "3032ae94-0189-1000-bca4-7a39ff14bfd7",
        "labels" : [ ],
        "name" : "SaveToDB",
        "outputPorts" : [ ],
        "position" : {
          "x" : 1008.0,
          "y" : 472.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "9edd86f2-6476-3962-ab04-7df206e2f26f",
          "instanceIdentifier" : "dd14b4fe-1585-3c78-8ea2-1a9542e74012",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1360.0,
            "y" : 472.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "{\n\"name\": \"Kal ${random():mod(10):plus(1)}\",\n\"email\": \"el${random():mod(10):plus(1)}@mail.com\",\n\"created_on\": \"${now():toNumber()}\"\n}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "2ef5961b-ed9a-3445-9383-82b52b6225e3",
          "instanceIdentifier" : "30b2dcc5-c303-3aba-e847-6e149f2a255b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2528.0,
            "y" : 768.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "e9e9349e-8b19-3dce-bec6-f73f6ffe99d2",
          "instanceIdentifier" : "e764c2b3-50b5-3a93-18cb-0471cf5aab19",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1784.0,
            "y" : 768.0
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "91a604aa-098b-3beb-a079-d000a216c048",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "35df63a7-2b07-3783-b00f-a4ffbf04f017",
          "instanceIdentifier" : "b55321a5-936e-3dc7-1269-f9cb89c38042",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertJSONToSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2160.0,
            "y" : 448.0
          },
          "properties" : {
            "table-schema-cache-size" : "100",
            "Table Name" : "users",
            "jts-sql-param-attr-prefix" : "sql",
            "Schema Name" : "public",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "jts-quoted-identifiers" : "false",
            "jts-quoted-table-identifiers" : "false",
            "JDBC Connection Pool" : "91a604aa-098b-3beb-a079-d000a216c048",
            "Translate Field Names" : "true",
            "Statement Type" : "INSERT"
          },
          "propertyDescriptors" : {
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Catalog Name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "Catalog Name",
              "sensitive" : false
            },
            "jts-sql-param-attr-prefix" : {
              "displayName" : "SQL Parameter Attribute Prefix",
              "identifiesControllerService" : false,
              "name" : "jts-sql-param-attr-prefix",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "jts-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-identifiers",
              "sensitive" : false
            },
            "jts-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-table-identifiers",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "c0564d7e-a8a4-3bf6-bbf9-d75615750662",
          "instanceIdentifier" : "f56dec9f-d202-3b9f-1503-88e099b96ca6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1784.0,
            "y" : 1016.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "ae0f2153-d0cb-3e8e-bd32-7a35edf45e72",
          "identifier" : "ae89e89c-f30d-32f0-91b9-335262cb0d50",
          "instanceIdentifier" : "30a9dfc1-0189-1000-0e0c-6b61ecafc780",
          "maxBackoffPeriod" : "10 mins",
          "name" : "AttributesToJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1388.375,
            "y" : 767.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Null Value" : "false",
            "Include Core Attributes" : "true"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-json-regex",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Null Value" : {
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "name" : "Null Value",
              "sensitive" : false
            },
            "Attributes List" : {
              "displayName" : "Attributes List",
              "identifiesControllerService" : false,
              "name" : "Attributes List",
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "name" : "Include Core Attributes",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}